@model List<Team>

@{
    ViewData["Title"] = "Scoreboard";
}

<table class="table" border="1">
    <tr>
        @{
            int i = 0;
        }
        @foreach (var team in Model)
        {
            <td>
                <table class="table" border="0" cellpadding="0" cellspacing="0">
                    <tr height="50">
                        <td colspan="3" style="background-color:#C6C6C6">
                            @Html.DisplayFor(modelItem => team.Owner)
                        </td>
                    </tr>
                    <tr height="45">
                        <th>
                            @Html.DisplayNameFor(model => model[0].Players[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Players[0].Points)
                        </th>
                    </tr>
                    <tbody>
                        @foreach (var player in team.Players)
                        {
                            <tr height="85">
                                <td>
                                    <img src ="@Html.DisplayFor(modelItem => player.Headshot)" alt=""headshot" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => player.Name)
                                </td>
                                <td align="right">
                                    @Html.DisplayFor(modelItem => player.Points)
                                </td>
                            </tr>
                        }
                        @{i++;}
                    </tbody>
                    <tr height="75">
                        <td colspan="3" align="right">
                            @Html.DisplayFor(modelItem => team.TotalFantasyPoints)
                        </td>
                    </tr>
                </table>
            </td>
             @if (i == 1)
                {
                    <td>
                        <table class="table" border="0" cellpadding="0" cellspacing="0">
                        <tr height="50">
                            <td style="background-color:#C6C6C6"></td>
                        </tr>
                        <tr height="45">
                            <td style="background-color:#C6C6C6"></td>
                        </tr>
                        <tr height="85">
                            <td style="background-color:#C6C6C6">QB</td>
                        </tr>
                        <tr height="85">
                            <td style="background-color:#C6C6C6">RB</td>
                        </tr>
                        <tr height="85">
                            <td style="background-color:#C6C6C6">RB</td>
                        </tr>
                        <tr height="85">
                            <td style="background-color:#C6C6C6">WR</td>
                        </tr>
                        <tr height="85">
                            <td style="background-color:#C6C6C6">WR</td>
                        </tr>
                        <tr height="85">
                            <td style="background-color:#C6C6C6">FLEX</td>
                        </tr>
                        <tr height="85">
                            <td style="background-color:#C6C6C6">TE</td>
                        </tr>
                        <tr height="85">
                            <td style="background-color:#C6C6C6">K</td>
                        </tr>
                        <tr height="85">
                            <td style="background-color:#C6C6C6">DEF</td>
                        </tr>
                        <tr height="85">
                            <td style="background-color:#C6C6C6"></td>
                        </tr>
                        </table>
                    </td>
                }
        }
    </tr>
</table>