@model List<Team>

@{
    ViewData["Title"] = "Scoreboard";
}

<div class="container">
    <!--div class="card border-0 shadow my-5"-->
        <div class="table">
            <table class="table">
                <tr>
                    <td colspan="3">
                        <label>Select Week</label>
                        <form asp-controller="Scoreboard" asp-action="Index" method="post">
                            <select style="width: 45%;" name="week" class="form-control" asp-items="@ViewBag.weeks" new { onchange="this.form.submit();" }></select>
                        </form>
                    </td>
                </tr>
                <tr>
                @{
                    int i = 0;
                }
                @foreach (var team in Model)
                {
                    <td>
                        <table style="border-collapse: collapse;" class="table">
                            <tr style="height:75px;">
                                <td style="background-color:#C6C6C6;line-height:0;padding:0px;margin:0px;width:65px;height:75px;vertical-align:middle">
                                    @{
                                        byte[] bytes = (byte[])team.OwnerLogo;
                                        string base64String = Convert.ToBase64String(bytes, 0, bytes.Length);
                                        var logoSource = "data:image/png;base64," + base64String;
                                        <img style="object-fit:contain;width:85%;height:85%;padding:5px;margin:0px 0px 0px 0px;vertical-align: middle;" src=@logoSource />
                                    }
                                </td>
                                <td colspan="2" align="right" style="background-color:#C6C6C6;vertical-align:middle;height:75px;">
                                    @{
                                        var totalTeamPoints = team.TotalFantasyPoints.ToString("0.00");
                                    }
                                    <strong>@totalTeamPoints</strong>
                                </td>
                            </tr>
                            <tr height="30">
                                <td colspan="3"></td>
                            </tr>

                            @if (team.Players.Count == 0)
                            {
                                <tr style="vertical-align:middle;" height="900px">
                                    <td style="text-align:center;" colspan="3">@Html.ActionLink("Click here to select this week's roster", "Index", "SelectTeam2", new { week = team.Week, ownerId = team.OwnerId })</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var player in team.Players)
                                {
                                    // this will display either the date / time of the matchup or "Final"
                                    var matchupDisplay = "";
                                    var day = player.GameTime.DayOfWeek.ToString().Substring(0, 3);

                                    var hour = Convert.ToInt32(player.GameTime.ToString("hh"));
                                    var minute = player.GameTime.ToString("mm");
                                    var pmOrAm = player.GameTime.ToString("tt", System.Globalization.CultureInfo.InvariantCulture);
                                    var opponentAbbreviation = player.OpponentAbbreviation.ToUpper();
                                    var gameLocation = player.HomeOrAway.Equals("home") ? "vs" : "@";

                                    // if the game has ended, we will display "Final"
                                    if (player.GameEnded)
                                    {
                                        matchupDisplay = "Final " + player.FinalScoreString + " " + gameLocation + " " + opponentAbbreviation;
                                    }
                                    else if (player.GameInProgress)
                                    {
                                        matchupDisplay = player.TimeRemaining + " " + player.CurrentScoreString + " " + gameLocation + " " + opponentAbbreviation;
                                    }
                                    else
                                    {
                                        matchupDisplay = day + " " + hour + ":" + minute + pmOrAm + " " + gameLocation + " " + opponentAbbreviation;
                                    }

                                    var color = player.GameInProgress ? "#F9F9CD" : "#FFFFFF";
                                    var boldOrNormal = player.GameInProgress ? "bold" : "normal";

                                    <tr style="background-color:@color" height="100px">
                                        <td style="vertical-align:middle;width: 70px">
                                            <img style="object-fit:fill;height:70px;padding:0px;margin:0px 0px 0px 0px;vertical-align: middle;" src="@Html.DisplayFor(modelItem => player.Headshot)" alt="" headshot" />
                                        </td>
                                        <td style="vertical-align:middle;width:fit-content">
                                            <span style="font-weight:@boldOrNormal;">
                                                @Html.DisplayFor(modelItem => player.Name)
                                                <br />
                                                <font size="2">
                                                    @player.TeamAbbreviation.ToUpper() - @player.TruePosition
                                                    <br />
                                                    @matchupDisplay
                                                </font>
                                            </span>
                                        </td>
                                        <td align="right" style="vertical-align:middle">
                                            @{
                                                var playerPoints = player.Points.ToString("0.00");

                                                // if the game hasn't started, display a "-" so it's easy to see which game hasn't started when none are in progress
                                                if (!player.GameEnded && !player.GameInProgress)
                                                {
                                                    playerPoints = "-";
                                                }
                                            }

                                            @if (player.GameInProgress)
                                            {

                                                <strong>@playerPoints</strong>
                                            }
                                            else
                                            {
                                                @playerPoints
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            @{i++;}
                        </table>
                    </td>
                    @if (i == 1)
                    {
                        <td>
                            <table class="table" border="0" cellpadding="0" cellspacing="0">
                                <tr style="height:75px;">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                                <tr style="height:30">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                                <tr style="height:100px;">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                                <tr style="height:100px;">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                                <tr style="height:100px;">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                                <tr style="height:100px;">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                                <tr style="height:100px;">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                                <tr style="height:100px;">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                                <tr style="height:100px;">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                                <tr style="height:100px;">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                                <tr style="height:100px;">
                                    <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                                </tr>
                            </table>
                        </td>
                        }
                    }
                </tr>
            </table>
        </div>
    <!--/div-->
</div>