@model List<Team>

@{
    ViewData["Title"] = "Scoreboard";
}

<table class="table" border="0" cellpadding="0" cellspacing="0">
    <tr>
        @{
            int i = 0;
        }
        @foreach (var team in Model)
        {
            <td>
                <table style="min-width:300px"class="table" border="0" cellpadding="0" cellspacing="0">
                    <tr height="50">
                        <td style="background-color:#C6C6C6">
                            @Html.DisplayFor(modelItem => team.Owner)
                        </td>
                        <td colspan="2" align="right" style="background-color:#C6C6C6;vertical-align:middle">
                            @{
                                var totalTeamPoints = team.TotalFantasyPoints.ToString("0.00");
                            }
                            <strong>@totalTeamPoints</strong>
                        </td>
                    </tr>
                    <tr height="30">
                        <td colspan="3"></td>
                    </tr>
                    
                    @foreach (var player in team.Players)
                    {
                        // this will display either the date / time of the matchup or "Final"
                        var matchupDisplay = "";
                        var day = player.GameTime.DayOfWeek.ToString().Substring(0, 3);

                        var hour = Convert.ToInt32(player.GameTime.ToString("hh"));
                        var minute = player.GameTime.ToString("mm");
                        var pmOrAm = player.GameTime.ToString("tt", System.Globalization.CultureInfo.InvariantCulture);
                        var opponentAbbreviation = player.OpponentAbbreviation.ToUpper();
                        var gameLocation = player.HomeOrAway.Equals("home") ? "vs" : "@";

                        // if the game has ended, we will display "Final"
                        if (player.GameEnded)
                        {
                            matchupDisplay = "Final " + player.FinalScoreString + " " + gameLocation + " " + opponentAbbreviation;
                        }
                        else if (player.GameInProgress)
                        {
                            matchupDisplay = player.TimeRemaining + " " + gameLocation + " " + opponentAbbreviation;
                        }
                        else
                        {
                            matchupDisplay = day + " " + hour + ":" + minute + pmOrAm + " " + gameLocation + " " + opponentAbbreviation;
                        }

                        var color = player.GameInProgress ? "#F9F9CD" : "#FFFFFF";
                        var boldOrNormal = player.GameInProgress ? "bold" : "normal";

                        <tr style="background-color:@color" height="100px">
                            <td style="vertical-align:middle">
                                <img src ="@Html.DisplayFor(modelItem => player.Headshot)" alt=""headshot" />
                            </td>
                            <td style="vertical-align:middle">
                                <span style="font-weight:@boldOrNormal;">
                                    @Html.DisplayFor(modelItem => player.Name)
                                    <br />
                                     <font size="2">
                                        @player.TeamAbbreviation.ToUpper() - @player.TruePosition
                                        <br />
                                        @matchupDisplay
                                    </font>
                                </span>
                            </td>
                            <td align="right" style="vertical-align:middle">
                                @{
                                    var playerPoints = player.Points.ToString("0.00");

                                    // if the game hasn't started, display a "-" so it's easy to see which game hasn't started when none are in progress
                                    if (!player.GameEnded && !player.GameInProgress)
                                    {
                                        playerPoints = "-";
                                    }
                                }

                                @if (player.GameInProgress)
                                {
                                    
                                    <strong>@playerPoints</strong>
                                }
                                else
                                {
                                    @playerPoints
                                }
                            </td>
                        </tr>
                        }
                        @{i++;}
                </table>
            </td>
            @if (i == 1)
            {
                <td>
                    <table class="table" border="0" cellpadding="0" cellspacing="0">
                        <tr height="50">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                        </tr>
                        <tr height="30">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6"></td>
                        </tr>
                        <tr height="100px">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6">QB</td>
                        </tr>
                        <tr height="100px">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6">RB</td>
                        </tr>
                        <tr height="100px">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6">RB</td>
                        </tr>
                        <tr height="100px">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6">WR</td>
                        </tr>
                        <tr height="100px">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6">WR</td>
                        </tr>
                        <tr height="100px">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6">FLEX</td>
                        </tr>
                        <tr height="100px">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6">TE</td>
                        </tr>
                        <tr height="100px">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6">K</td>
                        </tr>
                        <tr height="100px">
                            <td align="center" style="vertical-align:middle; background-color:#C6C6C6">DEF</td>
                        </tr>
                    </table>
                </td>
            }
        }
    </tr>
</table>